Flask>=1.0.0
gunicorn==19.7.1
prometheus-client
ibmcloudenv
livereload
Flask-WTF
flask-uploads
tinydb
flask-bootstrap
flask-sqlalchemy
flask-nav
werkzeug==2.2.3
ibm_db
sqlalchemy
ibm_db_sa
pandas
pymysql
pymongo
pyecharts